URL=http://localhost:3000
SITE_URL=http://localhost:3000/
AWS_REGION_WGV=us-west-2
AWS_ACCESS_KEY_ID_WGV='<Get access key from AWS Console>'
AWS_SECRET_KEY_ID_WGV='<Get secret from AWS Console>'
DATABASE_URL='<GET DB URL From PlanetScale>'
RECAPTCHA_SECRET_KEY='<Get secret from Recaptcha console>'
CLIENT_FROM_EMAIL_ADDRESS=carly@wildgracevideo.com
STRIPE_SECRET_KEY='<Get Secret from Stripe console>'
STRIPE_PRICE_ID=price_1O7Vo3GpIWOgrOUDlMaIznso
SENDGRID_API_KEY='<Get API Key from SendGrid console>'
REEL_IDEAS_TEMPLATE_ID=d-b0aa742d33ad42f9b9ff210d89a079a8
OMNISEND_API_KEY='<Get API Key from Omnisend console>'
SENDGRID_WEBHOOK_SIGNING_KEY='<Get Signing Key from SendGrid console>'
INTERIOR_DESIGNER_REEL_IDEAS_TEMPLATE_ID=''
DISCOVERY_CALL_TEMPLATE_ID=d-5590fe72d31648e68e30b00f50c6fd09
API_KEY='<API Key for service>'
GITHUB_CLIENT_SECRET='<Get from Github OAuth Apps>'
GITHUB_CLIENT_ID='<Get from Github OAuth Apps>'
ALLOWED_GITHUB_USERS=wildgracevideo,ehmurray8
TURSO_AUTH_TOKEN='<Get from Turso>'
TURSO_DATABASE_URL='<Get from Turso>'
S3_BUCKET=wildgracevideo-content
ALLOWED_GITHUB_USERS=wildgracevideo,ehmurray8
