@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-website-off-white: 250 249 249;
        --color-website-off-black: 48 48 48;
        --color-website-accent: 238 236 226;
        --color-website-primary: 68 74 59;
        --color-website-secondary: 37 49 31;
    }
}

html {
    font-family: 'Cormorant', sans-serif;
    font-size: 18px;
}

.font-family-optimus {
    font-family: 'OptimusPrinceps', serif;
}

.font-family-playfair-display {
    font-family: 'Playfair Display', serif;
}

.font-family-fredericka {
    font-family: 'Fredericka the Great', serif;
}

.font-family-cardo {
    font-family: 'Cardo', sans-serif;
}

.font-family-brittany {
    font-family: 'Brittany', sans-serif;
}

.font-family-bright-sunshine {
    font-family: 'BrightSunshine', sans-serif;
}

.font-family-moontime {
    font-family: 'Moontime', sans-serif;
}

.font-family-cormorant {
    font-family: 'Cormorant', serif;
}

.font-family-cormorant-garamond {
    font-family: 'Cormorant Garamond', serif;
}

body,
html,
#__nuxt {
    height: 100%;
    scroll-behavior: smooth;
}

.grecaptcha-badge {
    visibility: hidden;
}

/* latin */
@font-face {
    font-family: 'OptimusPrinceps';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(~/assets/fonts/OptimusPrinceps.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Samantha Melissa Marketing */
@font-face {
    font-family: 'Brittany';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(~/assets/fonts/BrittanySignature.ttf);
    unicode-range: U+0053, U+0061, U+006D, U+006E, U+0074, U+0068, U+004D,
        U+0072, U+006B, U+0065, U+0067, U+006C, U+0069, U+0073;
}

/* Only for X */
@font-face {
    font-family: 'BrightSunshine';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(~/assets/fonts/BrightSunshine.ttf);
    unicode-range: U+0058;
}

/* The */
@font-face {
    font-family: 'Moontime';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(~/assets/fonts/MoonTime-Regular.ttf);
    unicode-range: U+0054, U+0068, U+0065;
}

/* nuxt-ui is setting the ::selection pseudo element to be the primary color this resets it back to the system color */
::selection {
    background-color: Highlight !important;
}

/* TODO: Why doesn't this work in native tailwind? */
.stroke-red {
    stroke: red;
}

.stroke-green {
    stroke: green;
}

.rounded-oval {
    border-radius: 50%;
}

.min-h-dvh {
    min-height: 100dvh;
}

.h-dvh {
    height: 100dvh;
}

.h-2dvh {
    height: 200dvh;
}

.h-6dvh {
    height: 600dvh;
}

.fade-in-left {
    filter: blur(0);
    animation: fadeInLeft 2s;
}

.fade-in-right {
    filter: blur(0);
    animation: fadeInRight 2s;
}

.fade-in {
    animation: visible 2s;
}

.fade-out {
    animation: invisible 2s;
    visibility: hidden;
}

.fade-in-quick {
    animation: visible 1s;
}

.fade-out-quick {
    animation: invisible 1s;
    visibility: hidden;
}

.fade-in-quicker {
    animation: visible 0.5s;
}

.fade-out-quicker {
    animation: invisible 0.5s;
    visibility: hidden;
}

.text-0 {
    font-size: 0;
}

.image-box-shadow {
    box-shadow:
        rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.word-spacing-max {
    word-spacing: 9999999px;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@keyframes visible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes invisible {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes grow {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 2.25rem;
    }
}

@keyframes grow {
    0% {
        font-size: 0;
    }

    100% {
        font-size: 2.25rem;
    }
}

.grow-transition {
    -webkit-animation: grow 2s forwards;
    animation: grow 2s forwards;
}

.border-custom-green {
    border-color: rgba(110, 132, 103, 0.5);
}

.border-y-16 {
    border-top-width: 16px;
    border-bottom-width: 16px;
}

.shadow-floating {
    box-shadow: 8px 8px 16px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.leading-14 {
    line-height: 3.5rem;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-delay-400 {
    animation-delay: 400ms;
}

.animation-delay-600 {
    animation-delay: 600ms;
}

.animation-delay-800 {
    animation-delay: 800ms;
}

.animation-delay-1000 {
    animation-delay: 1000ms;
}

.animation-delay-1200 {
    animation-delay: 1200ms;
}
