@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-website-yellow: 247 239 106;
    --color-website-green: 120 134 107;
    --color-website-blue: 70 92 139;
    --color-website-off-white: 250 249 246;
  }
}

html {
  font-family: 'Poppins', sans-serif;
}

body, html, #__nuxt {
  height: 100%;
}

.aspect-2 {
  aspect-ratio: 2/1;
}

.rounded-oval {
  border-radius: 50%;
}

.min-h-dvh {
  min-height: 100dvh;
}

.fade-in {
  animation: visible 2s;
}

.fade-out {
  animation: invisible 2s;
  visibility: hidden;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
 }

@keyframes invisible {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
 }
